*{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

#title h2 
{
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
}

#nav-bar 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e90ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

#nav-main 
{
  display: flex;
  align-items: center;
  gap: 70px;

}


#nav-links a 
{
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

#nav-links a:hover 
{
  background-color: white;
  color: #000000;
}


.login-btn 
{
  text-decoration: none;
  background-color: white;
  color: #1e90ff;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
  margin-right: 70px;
}

.login-btn:hover 
{
  background-color: #211e1e;
  color: white;
}

.login-btn 
{
  background-color: #000000dc;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 100px;
}

.login-btn:hover 
{
  background-color: #e3e7eb8f;
  color: #000000;
}
