body {
  background: #dde5f8;
  color: #000;
  margin: 0;
  padding-top: 80px;
  box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
 
.services-section {

  text-align: center;
  padding: 60px 20px;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;

}
 
.services-section h1 {

  color: #1e90ff;
  font-size: 32px;
  margin-bottom: 10px;

}
 
.services-section p {

  color: #555;
  max-width: 700px;
  margin: 0 auto 50px;
  font-size: 15px;

}
 
.services-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;

}
 
.service-box {

  text-align: center;
  padding: 25px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
 
.service-box:hover {

  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  background-color: #1e8fff2d;

}
 
.service-box h3 {

  font-size: 18px;
  color: #000;
  margin-bottom: 10px;

}
 
.service-box p {

  font-size: 14px;
  color: #555;
  line-height: 1.6;

}
 
.doctor-image {

  display: flex;
  justify-content: center;
  align-items: center;
}
 
.doctor-image img {
  width: 430px;
  height: auto;
  border-radius: 50px;
}
 
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
 
  .doctor-image {
    grid-column: auto;
    order: -1;
  }
 
  .doctor-image img {
    width: 200px;
    margin-bottom: 20px;
  }
}